#header_container {
	height:80px;
}

#loginForm{
	margin-top:20px;
	margin-bottom:0px;
	/*background:#555;*/
}

#loginBtn, #logoutBtn{
	width:80px;
}

#forgotPassBtn {
	float:right;
}

.center {
	text-align: center;
}

.center form{
	display: inline-block;
}

.dialogueBox_container{
	position: absolute; 
	left: 50%;
	top:20%;
	display: none;
}

.dialogueBox_container #dialogueBox{
	position: relative; 
	left: -50%; 
	border: solid #eee 5px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	padding:10px;
	background: white;
}
