<div class="row-fluid">
	<div class="span6">
		<h3>Sign up here</h3>
		<form class="form-horizontal" id="newUserForm">
			<div class="control-group">
		    		<label class="control-label" for="newUserFName">First name</label>
		    		<div class="controls">
		      			<input type="text" name="fname" id="newUserName" placeholder="First name">
		    		</div>
		  	</div>	
			<div class="control-group">
		    		<label class="control-label" for="newUserLName">Last name</label>
		    		<div class="controls">
		      			<input type="text" name="lname" id="newUserLName" placeholder="Last name">
		    		</div>
		  	</div>	
			<div class="control-group">
		    		<label class="control-label" for="newUserEmail">Email</label>
		    		<div class="controls">
		      			<input type="text" name="email" id="newUserEmail" placeholder="Email">
		    		</div>
		  	</div>
		  	<div class="control-group">
		    		<label class="control-label" for="newUserPassword">Password</label>
		    		<div class="controls">
		      			<input type="password" name="password" id="newUserPassword" placeholder="Password">
		    		</div>
		  	</div>
			<div class="control-group">
		    		<label class="control-label" for="verifyPassword">Verify password</label>
		    		<div class="controls">
		      			<input type="password" id="verifyPassword" placeholder="Verify password">
		    		</div>
		  	</div>
		  	<div class="control-group">
				<div class="controls">
		      			<button type="submit" class="btn">sign up</button>
				</div>
		   	</div>
		</form>
	</div>

	<div class="span6">
		<h3>Or use facebook...</h3>
	</div>
</div>
